<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    
    <div class="container">
        <h1>Doctor</h1>
        
        <mat-form-field class="example-full-width">
            <mat-label>Id</mat-label>
            <input matInput  placeholder="idDoctor" [(ngModel)]="doctor.idDoctor">
        </mat-form-field>
        
        <br>
        
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput required placeholder="nameDoctor" [(ngModel)]="doctor.nameDoctor">
        </mat-form-field>

        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput required placeholder="lastNameDoctor" [(ngModel)]="doctor.lastNameDoctor">
        </mat-form-field>
        
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input matInput required placeholder="numberPhone" [(ngModel)]="doctor.numberPhone">
        </mat-form-field>
        
        <br>
        
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput required placeholder="emailDoctor" [(ngModel)]="doctor.emailDoctor">
        </mat-form-field>
        
        <br>


        <button mat-raised-button color="warn" (click)="aceptar()">Aceptar</button>
        <button mat-raised-button color="accent" routerLink="/doctor">Cancelar</button>
        <p>{{mensaje}}</p>
        </div>
        


</body>
</html>
