<div class="container">
    <h1> Doctores con menos preguntas </h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="iddoctor">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.iddoctor}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombredoctor">
            <th mat-header-cell *matHeaderCellDef> nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombredoctor}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="apellidodoctor">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidodoctor}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
    <br>

    <div style="align-items: center;">
        <button type="button" class="btn btn-danger" routerLink="/pregunta"> Volver </button>
    </div>

</div>
