<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PostCovid</title>
</head>
<body>



  <p>
    <mat-toolbar>
        
        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/doctor">
            <mat-icon>person</mat-icon>
            <span>doctor</span>
        </button>
        <span class="example-spacer"></span>

        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/paciente">
            <mat-icon>face</mat-icon>
            <span>pacientes</span>
        </button>
        <span class="example-spacer"></span>

        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/pregunta">
            <mat-icon>help_outline</mat-icon>
            <span>Pregunta</span>
        </button>
        <span class="example-spacer"></span>

        <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
        routerLink="/tarjeta">
            <mat-icon>help_outline</mat-icon>
            <span>Tarjeta</span>
        </button>
        <span class="example-spacer"></span>

    </mat-toolbar>
</p>


<router-outlet></router-outlet>
  


</body>
</html>