<div class="container">
    <h1> Lista de Doctores </h1>
    
    <app-doctor-buscar></app-doctor-buscar> <!--Búsqueda usando BD-->
    
    <!--Búsqueda en el front/cliente-->
    <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
    </mat-form-field>
    
    
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Position Column -->
        <ng-container matColumnDef="idDoctor">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.idDoctor}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="nameDoctor">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nameDoctor}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="lastNameDoctor">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.lastNameDoctor}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="numberPhone">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.numberPhone}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="emailDoctor">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.emailDoctor}} </td>
        </ng-container>


    
        <!-- Symbol Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                    [routerLink]="['edicion', element.idDoctor]">Actualizar</button>
                <button mat-raised-button color="accent" (click)="confirmar(element.idDoctor)">Eliminar</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
        routerLink="/doctor/nuevo">
        <mat-icon>plus_one</mat-icon>
    </button>
    </div>
    