<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    
    <div class="container">
        <h1>Encuesta</h1>
        
        <mat-form-field class="example-full-width">
            <mat-label>Id</mat-label>
            <input matInput placeholder="idVehiculo" [(ngModel)]="encuesta.idEncuesta">
        </mat-form-field>
        
        <br>
        
        <mat-form-field appearance="fill">
            <mat-label>Fecha de encuesta</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada" [max]="maxFecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>
        <mat-form-field class="example-full-width">
            <mat-label>anotaciones</mat-label>
            <input matInput placeholder="Licencia" [(ngModel)]="encuesta.anotaciones">
        </mat-form-field>
        
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione paciente</mat-label>
            <mat-select [(value)]="idPacienteSeleccionado" required>
                <mat-option *ngFor="let p of listaPacientes" [value]="p.idPaciente">
                    {{p.namePaciente}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button style="margin: 10px" mat-raised-button color="warn" (click)="aceptar()">Aceptar</button>
        <button style="margin: 10px" mat-raised-button color="accent" routerLink="/encuesta">Cancelar</button>
        </div>
        
        
</body>
</html>



<!--
<div class="container">
    <h1>Propietario</h1>
    
    <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput  placeholder="idPregunta" [(ngModel)]="pregunta.idPregunta">
    </mat-form-field>
    
    <br>
    
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput required placeholder="descripcion" [(ngModel)]="pregunta.descripcion">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput required placeholder="respuesta" [(ngModel)]="pregunta.respuesta">
    </mat-form-field>
    
    <br>
    <button mat-raised-button color="warn" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="accent" routerLink="/pregunta">Cancelar</button>
    <p>{{mensaje}}</p>
    </div>
    
!-->